footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 80px;
    padding-left: 80px;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid #E2E8F0;
    list-style: none;
    width: 100%;
    text-align: left;
    column-gap: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom-width: 1px;
    max-width: 1280px;
}

.footer__list__column_title {
    font-weight: 500;
     
    font-size: 16px;
    line-height: 110.00000000000001%;
    max-height: 42px;
}

.footer__list__sublist {
    list-style: none;
}

.footer__list__sublist__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    max-height: 46px;
}

.footer__list__column_title, .footer__list__sublist__item {
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 173.33px;
    color:#475569;
}


.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    max-height: 72px;
    gap: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
}


.footer_bottom__copyright, .footer_bottom__social {
    display: flex;
    flex-direction: row;
}

.footer_bottom__copyright_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color:#475569 ;
}

.footer_bottom__copyright_logo {
    font-weight: 500;
     
    font-size: 20px;
    line-height: 110%;
    vertical-align: middle;
    color: #0F172A;
}

.footer_bottom__social {
    gap: 16px;
}

.footer_bottom__copyright {
    gap: 4px;
}


@media (max-width: 1024px) {
    .footer__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

@media (max-width: 765px) {
    .footer__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width: 480px) {

    footer {
        padding:0 16px;
    }

    .footer__list {
        grid-template-columns: 1fr;
        gap: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .footer__bottom, .footer_bottom__copyright {
        flex-direction: column;
        gap: 16px;
    }
}