.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    padding: 80px;
    background-color: #F1F5F9;
}

.faq__list {
    list-style: none;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.paragraph_faq {
        text-align: center;
}

.faq_list_item__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 15px -3px #0000001A;
    border-radius: 10px;
    padding: 32px;
    gap: 8px;
}

.response {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 0; 
    font-size: 0.95rem;
    color: #334155;
}

.faq_list_item__item.open .response {
    min-height: 90px;
    padding-top: 30px;
}

.response.reveal {
    padding: 8px 0;
}

.icon_down {
    transition: transform 0.3s ease;
}

div.__item-container-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.faq_list_item__item.open .icon_down{
    transform: rotate(180deg);
}

@media (max-width: 765px) {

    .faq {
        padding: 48px 16px;
        gap: 32px;
    }

    .paragraph_faq {
        max-width: 361px;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
    }

    .faq__list {
        max-width: 361px;
        width: 100%;
        align-items: center;
    }

    .faq_list_item__item {
        width: 100%;
        font-size: 16px;
        padding: 16px;
    }

    .question {
        max-width: 289px;
    }

    .response {
        font-size: 14px;
    }
}
