.favorite_tool {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;
    gap: 80px;
}

.favorite_tool__container_rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    max-width: 1280px;
    width: 100%;
}

.container_rows__list_tools {
    display: contents;
    list-style: none;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 180px;
    gap: 16px;
    width: 100%; 
}

.title_tool {
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #0F172A;
}

.tool__desc {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #475569;
}

@media (max-width: 1300px) {
    .favorite_tool__container_rows {
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
        padding: 0 24px;
    }

    .favorite_tool__container_rows > :last-child {
        justify-self: center;
        max-width: 400px;
    }

        .title_tool {
            font-size: 20px;
    }

    .tool__desc {
        font-size: 16px;
    }
}


@media (max-width: 640px) {
    
    .favorite_tool {
        padding:48px 16px;
        gap: 32px;
    }

    .favorite_tool__container_rows {
        grid-template-columns: 1fr;
        gap: 32px;
        max-width:361px;
        width: 100%;
        padding: 16px 24px;
    }

    .tool {
        align-items: center;
        text-align: center;
        max-height: 209px;
        height: 100%;
    }

    .list_tools__tool {
     text-align: center;
    }
}
