.time_break {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 56px 80px 80px 80px;
}

.time_break_content_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 227px;
}

.time_break_content_form_text {
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
}

.caption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.content_text_paragraph {
    color: #475569;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
}


.form {
  display: flex;
  gap: 16px;
  padding:30px;
}

#enter_name {
    padding: 13px 24px;
    border: 1px solid #CBD5E1;
    width:476px;
    border-radius: 26px;
    height: 64px;
}

#enter_name::placeholder {
    font-size: 24px;
    font-weight: 400;
    color:#475569;
    line-height: 64px;
}


.button_start_form {
    padding: 20px 24px;
    border-radius: 26px;
    width: 208px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
    height: 64px;
}


.img_time_break {
    width: 100%;
    max-height:465px;
    border-radius: 20px;
    max-width: 1280px; 
}


@media (max-width:768px) {

    .time_break_content_form_text {
        padding: 16px;
    }

    .content_text_paragraph {
        font-size: 16px;
    }

    #enter_name {
        width: 221px;
        height: 48px;
        border-radius: 19px;
    }

    .time_break {
        padding:32px 16px 32px 16px;
        gap: 8px;
    }

    .form {
        gap: 8px;
        padding: 24px 16px 32px 16px;
    }

    .button_start_form {
        padding: 12px;
        border-radius: 19px;
        width: 132px;
        height: 48px;
        font-size: 16px;
    }

    #enter_name::placeholder {
        font-size: 16px;
    }

    .img_time_break {
    max-width: 361px;
    max-height:222px;
    border-radius: 20px;
    width: 100%;
    }

}

@media (max-width: 360px) {
    .form {
        gap: 4px;
        padding: 24px 5px 32px 5px;
    }

    .button_start_form {
        padding: 8px;
        width: 100px;
    }

    #enter_name {
        width: 200px;
        border-radius: 19px;
    }

}