.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 80px;
}


.paragraph_stories {
    text-align: center;
}

.stories__cards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.stories__cards_container__card {
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 4px 0px #00000012;
    box-shadow: 0px 4px 6px -1px #0000001A;
    width: 266px;
    height: 300px;
    border-radius: 10px; 
}

.card__image_card {
    max-width: 100%;
    max-height: 220px;
    height: 100%;
    position: relative;
    z-index: 1;

}

.badge_card {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
}

.image_card_child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: 100%;
}

.desc__user_card {
    display: flex;
    flex-direction: row;
    gap:8px;
    max-height: 48px;
    max-width: 234px;
    width: 100%;
    height: 100%;
}

.card__desc_card {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
}

.desc__card_text {
    display: block;
    width: 178px;
    height: 42px;

}

.card_text__card_paragraph {
    font-size: 14px;
    color: #475569;
    font-weight: 400;
}

.card_text__card_title {
    font-size:16px;
    font-weight: 400;
    color: #21272A;
    line-height: 140%;
}

.desc__user_card__icon {
    display: flex;
    gap: 10px;
    border-radius: 100px;
}

@media (max-width: 1280px) {
    .stories__cards_container {
        max-width: 600px;
    }
}


@media (max-width: 640px) {

    .stories {
        width: 100%;
        padding: 16px;
        gap: 32px;
    }

    .stories__cards_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
    }

    .paragraph_stories {
        max-width: 361px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
    }
}