.users_say {
    background: #FDF4FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}

.deco_right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.deco_left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.users_say__content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px #00000012;
    box-shadow: 0px 10px 15px -3px #0000001A;
    width: 756px;
    height: 464px;
    border-radius: 10px;
    padding: 48px;
    position: relative;
    z-index: 2;
}


.content_text__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    padding-bottom: 24px;
}

.text_content_title_say {
    text-align: center;
    position: relative;
    z-index: 2;
}

.content_text__paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #21272A;
    height: 114px;
}

.profile__name_say {
    color: #0F172A;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
}

.users_say__profile__user_thumb_say {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 56px;    
}

.profile__role_say {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color:#475569;
}

@media (max-width: 765px) {
    .deco_right {
        max-width: 179.69px;
        max-height: 138px;
    }

    .deco_left {
        max-width: 209px;
        max-height: 208px;

    }

    .users_say__content {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 6px 0px #00000012;
        box-shadow: 0px 10px 15px -3px #0000001A;
        max-width: 361px;
        min-height: 341px;
        padding: 24px 16px;
    }

    .text_content_title_say {
        padding: 0;
        text-align: center;
        position: relative;
        text-align: center;
        position: relative;
    }

    .content_text__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 160%;
        text-align: center;
        color: #0F172A;
        padding-bottom: 24px;
    }

    .content_text__paragraph {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        color: #0F172A;
        max-height: 88px; 
    }

    .users_say {
        width: 100%;
        height: 495px;
        gap: 32px;
        padding-top: 48px;
        padding-right: 16px;
        padding-bottom: 48px;
        padding-left: 16px;
    }

    .users_say__profile__user_thumb_say {
        padding-top: 24px;    
    }

}