.get_better {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    gap: 80px;
}

.get_better .get_better_paragraph {
    text-align: center;
    padding: 24px 10px 24px 10px;
}

#get_better_image {
    max-width: 1280px;
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {


    .get_better {
        width: 100%;
        padding: 48px 16px 24px;
        gap: 24px;
    }

    .get_better .get_better_paragraph {
        width: 100%;
        max-width: 361px;
        padding: 24px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
    }


    #get_better_image {
        max-width: 361px;
        height: auto;
        width: 100%;
    }

}